<div class="p-4 rounded-md shadow-2xl text-2xl font-bold">
    <h4>
        <a class="p-2 hover:text-rose-500" href="/">Index</a>
        <a class="p-2 hover:text-rose-500" href="/create">Create</a>
    </h4>
</div>