{% include 'includes/header.twig' %}
{% include 'includes/menu.twig' %}
<body class="bg-gray-500">
<div>
    <div class="p-4">
        <h1 class="text-4xl font-bold mb-4 text-center">Create Article</h1>
        <div class="grid grid-flow-col auto-cols-max justify-center">
            <div>
            </div>
            <div class="m-2 p-6 bg-slate-400 rounded-md flex">
                <form action="" method="post" enctype="multipart/form-data">
                    <div class="flex flex">
                        <div class="p-2 text-end">
                            <label for="title">Post Title:
                                <input class="rounded-md" type="text" name="title">
                            </label>
                        </div>
                        <div class="p-2 text-end">
                            <label for="author">Author:
                                <input class="rounded-md" type="text" name="author">
                            </label>
                        </div>
                        <div class="p-2 text-end">
                            <label for="category">Category:
                                <input class="rounded-md w-20" type="number" id="category" name="category">
                            </label>
                        </div>
                    </div>
                    <div class="container mx-auto px-4">
                        <label for="content">
                            <textarea class="rounded-md" name="content" cols="80" rows="10"></textarea>
                        </label>
                    </div>
                    <button name="create_post" value="Create">
                        <div class="p-1 mt-3 m-1 bg-slate-500 hover:bg-slate-300 rounded-md shadow-2xl w-28 text-center">
                            Create
                        </div>
                    </button>
                </form>
            </div>
            <div>
            </div>
        </div>
    </div>
</div>
</body>
{% include 'includes/footer.twig' %}