{% include 'includes/header.twig' %}
{% include 'includes/menu.twig' %}
<body class="bg-gray-500">
<div>
    <div class="p-4">
        <h1 class="text-4xl font-bold mb-4 text-center">Index</h1>
            <div class="grid grid-flow-col auto-cols-max justify-center">
                <div>
                </div>
                <div>
                    {% include 'includes/articles.twig' %}
                </div>
                </div>
                <div>

            </div>
    </div>
</div>
</body>
{% include 'includes/footer.twig' %}