{% include 'includes/header.twig' %}
{% include 'includes/menu.twig' %}
<body class="bg-gray-500">
<div>
    <div class="p-4">
        <h1 class="text-4xl font-bold mb-4 text-center">{{ article.title }}</h1>
            <div class="grid grid-flow-col auto-cols-max justify-center">
                <div>
                </div>
                <div class="m-2 p-6 bg-slate-400 rounded-md shadow-2xl">
                    {% include 'includes/article.twig' %}
                    {% include 'includes/add_comment.twig' %}
                    {% if comments %}
                        {%  include 'includes/comments.twig' %}
                    {% endif %}
                </div>
                <div>

                </div>
            </div>
    </div>
</div>
</body>
{% include 'includes/footer.twig' %}